button {
  border: 0;
  display: inline-block;
  width: 200px;
  padding: 1em 3em;
  background: rgb(191, 221, 237);
  color: #003a61;
  margin-bottom: 1em;
  cursor: pointer;
}

.container {
  text-align: center;
}

@media screen and (max-width: 576px) {
  .btn-group {
    display: flex;
    flex-direction: column;
  }
}
