

<mat-nav-list>
    <a mat-list-item  (click)= "redirectToHome()">
        <span class="nav-caption">Inicio</span>
    </a>
    <a mat-list-item routerLink="actores" (click)= "redirectToActors()">
       <span class="nav-caption">Actores</span>
    </a>
    <a mat-list-item routerLink="temas" (click)= "redirectToTopics()">
        <span class="nav-caption">Temas</span>
    </a>
    <a mat-list-item routerLink="matrices" (click)= "redirectToMatrixs()">
        <span class="nav-caption">Matrices</span>
    </a>
</mat-nav-list>